{% extends 'blogs/base.html' %}
{% load crispy_forms_tags %}
{% block title %}登录{% endblock %}
{% block main %}
    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">登录</legend>
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">提交</button>
            </div>
        </form>
        <div class="border-top pt-3">
            <small class="text-muted">
                创建一个新的账户 <a class="ml-2" href="{% url 'register' %}">现在注册</a>
            </small>
        </div>
    </div>
{% endblock main %}