Django==2.1.1
django-bootstrap4==0.0.7
django-ckeditor==5.6.1
django-crispy-forms==1.7.2
django-debug-toolbar==1.10.1
db==0.1.1
db-sqlite3==0.0.1
dj-static==0.0.6
Pillow==5.4.1
django-markdownx==2.0.23

